.item {
  width: 400px;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-radius: 8px;
}

.todoList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addButton {
  width: 60px;
  height: 30px;
  background-color: #11adeb;
  border-radius: 5px;
  margin-left: 10px;
}

.removeButton {
  text-align: right;
  float: right;
}

.box {
  border: 2px solid rgb(115, 112, 112);
  box-shadow: 10px 10px 2px rgba(43, 72, 168, 0.3);
  width: max-content;
  height: max-content;
  margin-top: 40px;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.todoInput {
  width: 200px;
  height: 25px;
}

.todoTitle {
  font-size: large;
  font-weight: bold;
  color: #11adeb;
}

.navigator {
  float: left;
  margin-right: 200px;
  border: 2px dashed rgb(115, 112, 112);
  box-shadow: 10px 10px 2px rgba(43, 72, 168, 0.3);
  border-radius: 8px;
  margin-top: 20px;
  height: 140px;
  text-align: left;
}

.doneList{
  margin-top: 40px;
  border: 2px solid rgb(115, 112, 112);
  box-shadow: 10px 10px 2px rgba(43, 72, 168, 0.3);
  border-radius: 8px;
}

.doneDetail{
  /* text-align: center; */
  width: 700px;
  margin-top: 40px;
  font-weight: bold;
}
